html,
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: sans-serif;
    background-color: #3e429e;
    margin: 0;
    padding: 0;
    /* background: linear-gradient(to right, #45408e 0%, #3e3a80 30%, #3e3a80 100%); */
}

.wrap {
    max-width: 38em;
    min-height: 100vh;
}

.lead {
    font-weight: 300 !important;
    opacity: .7 !important;
    font-size: 1.275rem;
}

.badge {
    background-color: rgba(255, 255, 255, .05) !important;
}